<!-- EpiMac Website footer -->
<div class="bloc bgc-dark-lava d-bloc" id="bloc-32">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-lg-5">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-sm tc-light-gray">
							<br>
						</h6><img src="../img/lazyload-ph.png" data-src="https://www.epimac.org/img/Blanc.png" class="img-fluid img-24205-style mx-auto d-block lazyload" alt="Blanc" />
					</div>
					<div class="col-lg-7">
						<h6 class="mg-sm tc-light-gray">
							<br>
						</h6>
						<h6 class="text-sm-left text-center tc-white mg-clear tc-light-gray">
							<strong>Association EpiMac</strong><br>14- 16 Rue Voltaire<br>94270 Le Kremlin-Bicêtre<br>France
						</h6>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 offset-lg-0 col-lg-2">
				<h4 class="mg-md text-sm-left text-center tc-white">
					À propos
				</h4><a href="../" class="a-btn a-block footer-link">Bureau exécutif</a><a href="../" class="a-btn a-block footer-link">Mentions légales</a><a href="../" class="a-btn a-block footer-link">Status des services</a>
			</div>
			<div class="col-md-3 col-sm-6 col-lg-2">
				<h4 class="mg-md text-sm-left text-center tc-white">
					L'association
				</h4><a class="a-btn a-block footer-link">Rejoindre l'association</a><a href="../" class="a-btn a-block footer-link">Nous contacter</a><a href="../" class="a-btn a-block footer-link">EpiMac Studio</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Réseaux
				</h4>
				<div class="row">
					<div class="col-6 col-sm-2 col offset-sm-0">
						<div class="text-center">
							<a href="https://www.facebook.com/EpiMac.org/"><span class="fa fa-facebook-official icon-md" data-placement="bottom" data-toggle="tooltip" title="@EpiMac.org"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://twitter.com/EpiMac"><span class="fa fa-twitter icon-md" data-placement="bottom" data-toggle="tooltip" title="@EpiMac"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://www.instagram.com/epimacorg/"><span class="fa fa-instagram icon-md" data-placement="bottom" data-toggle="tooltip" title="@epimacorg"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://github.com/epimac"><span class="icon-md fa fa-github" data-placement="bottom" data-toggle="tooltip" title="@EpiMac"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>

<!-- copyright -->
<div class="bloc bgc-black d-bloc" id="copyright">
	<div class="container ">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md h6-style">
							Copyright © 1999 - 2021 &nbsp;<strong>EpiMac</strong>, Tous droits réservés.
						</h6>
					</div>
					<div class="col">
						<h6 class="mg-md h6-6-style text-lg-right">
							Association de Loi 1905 | SIRET : 79036570400010 - SIREN : 790 365 704
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Additional JS -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/config.js"></script>
<script src="../js/jqBootstrapValidation.js"></script>
<script src="../js/formHandler.js"></script>
<script src="../js/lazysizes.js" defer></script>