<div class="bloc none b-divider sticky-nav l-bloc nav-bar " id="nav">
	<div class="container ">
		<div class="row">
			<div class="col">
				<div id="epimac-navbar">
					<h6 class="mg-clear h6-nav-style" id="dividor">
						<br>
					</h6>
					<div>
						<div class="row">
							<div class="col" id="logo-item">
								<a href="../"><img src="https://www.epimac.org/img/2.png" class="img-fluid mx-auto d-block img-bloc-1-style mg-sm" alt="EpiMac" /></a>
							</div>
							<div class="col d-lg-block   d-none" id="accueil-item">
								<h5 class="mx-auto d-block text-lg-center h5-home-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org">Accueil</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="blog-item">
								<h6 class="mx-auto d-block text-lg-center h6-blog-style mg-md">
									<a class="ltc-light-gray" href="https://medium.com/@EpiMac" data-target="_blank" target="_blank">Blog</a><br>
								</h6>
							</div>
							<div class="col d-lg-block   d-none" id="formations-item">
								<h5 class="text-lg-center mx-auto d-block h5-formations-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org/formations">Formations</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="hub-item">
								<h5 class="text-lg-center mx-auto d-block h5-bloc-1-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org/studio">Studio</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="store-item">
								<h5 class="mx-auto d-block text-lg-center h5-store-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org/store">Store</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="campus-item">
								<h5 class="mx-auto d-block text-lg-center h5-campus-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org/campus">LabMac</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="contact-item">
								<h5 class="mx-auto d-block text-lg-center h5-contact-style mg-md">
									<a class="ltc-light-gray" href="https://www.epimac.org/contact">Contact</a><br>
								</h5>
							</div>
							<div class="col d-lg-block   d-none" id="compte-item">
								<h5 class="mg-md h5-oldnav-style text-lg-center mx-auto d-block">
									<a class="ltc-light-gray" href="https://www.epimac.org/account/" data-target="_blank" target="_blank">Compte</a><br>
								</h5>
							</div>
							<div class="col d-lg-none d-xl-none d-block" id="mobile-nav">
								<div class="text-center" id="mobile">
									<div class="btn-group btn-dropdown">
										<a href="#" class="btn dropdown-toggle  wire-btn-dark-lava btn-wire" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-align-justify icon-white-smoke"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="../" class="dropdown-item a-block text-lg-center" id="accueil-mobile">Accueil</a>
											</li>
											<li>
												<a href="/blog" class="dropdown-item a-block text-lg-center" id="blog-mobile">Blog</a>
											</li>
											<li>
												<a href="../formations/" class="dropdown-item a-block text-lg-center" id="formations-mobile">Formations</a>
											</li>
											<li>
												<a href="../studio/" class="dropdown-item a-block text-lg-center" id="hub-mobile">Hub</a>
											</li>
											<li>
												<a href="../store/" class="dropdown-item a-block text-lg-center" id="store-mobile">Store</a>
											</li>
											<li>
												<a href="../campus/" class="dropdown-item a-block text-lg-center" id="campus-mobile">Campus</a>
											</li>
											<li>
												<a href="." class="dropdown-item a-block text-lg-center" id="contact-mobile">Contact</a>
											</li>
											<li>
												<a href="/join" class="dropdown-item a-block text-lg-center" id="compte-mobile" data-target="_blank" target="_blank">Mon compte</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- nav END -->

<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">Blog</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Articles</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Catégories</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">À propos</a></li>
    </ul>
  </div>
</nav>
